body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: block;
}

h1{
    color: #333;
    text-align: center;
}
textarea{
    box-sizing: border-box;
}

.input-field{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: solid;
    box-sizing: border-box;


}
.form-group{
       margin-bottom: 1px;

}
.description{
    height: 100px;
    resize: none;

}
button{
    align-content: center;
    text-align: center;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 16px;

    border-radius: 4px;
    
}
label{
 font-weight: 600;
 margin-bottom: 1px;
}
